extends ../layout
block content
  .page-header
    .container
      h1  #{blog.title}
        small 联系我们，让我们更好的为您服务
  .blog.article
    .container
      .blog-top.single-top
        .col-md-9.blog-left
          .blog-main.white-bg 
            p.bg #{blog.title}
            p
              | 由 
              a(href='#') Admin
              |  在 #{moment(blog.meta.creatAt).format('YYYY-MM-DD')} 发布
            .blog-main-one
              .blog-one
                .blog-one-left
                  //- img(src=blog.img, alt='')
                p #{blog.article}
              .blog-comments
                ul
                  li
                    span.glyphicon.glyphicon-bookmark(aria-hidden='true')
                    a(href='#') #{blog.category.name}
                  li
                    span.glyphicon.glyphicon-calendar(aria-hidden='true')
                    p #{moment(blog.meta.creatAt).format('YYYY-MM-DD')}
                  li
                    span.glyphicon.glyphicon-user(aria-hidden='true')
                    a(href='#') Admin
            .clearfix          
                  
          .comment-holder.p-30.light-shadow.white-bg        
            ul.comment-list.font-roboto
              li.comment-wrap
                .comment-thumb
                  img.img-responsive(src='/images/t1.jpg', alt='')
                .comment-body
                  a.comment-author(rel='external nofollow', href='#') john smith
                  .comment-content
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                  header.comment-meta
                    ul.post-meta
                      li
                        i.fa.fa-clock-o
                        | 25 dec, 2016
                      li
                        a(href='#')
                          i.fa.fa-reply
                          | reply              
                ul.comment-reply                
                  li.comment-wrap
                    .comment-thumb
                      img.img-responsive(src='/images/t1.jpg', alt='')
                    .comment-body
                      a.comment-author(rel='external nofollow', href='#') john smith
                      .comment-content
                        p
                          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus.
                      header.comment-meta
                        ul.post-meta
                          li
                            i.fa.fa-clock-o
                            | 25 dec, 2016
                          li
                            a(href='#')
                              i.fa.fa-reply
                              | reply
          form.row.form1(method='POST', action="/comment")
            .col-md-6
              .form-group
                label
                  | 怎么称呼
                  i.fa.fa-asterisk
                input.form-control(name='client[name]', type='text')
            .col-md-6
              .form-group
                label
                  | 您的电话
                  i.fa.fa-asterisk
                input.form-control(name='client[tel]', type='tel')
            .col-md-12
              .form-group
                label 有什么疑问呢，在这里写下来
                textarea.form-control(name='client[query]', rows='6')
              .send_result
            .col-md-12
                input.btn.btn-primary.btn-lg.btn-block(value='提交', name='submit', type='submit')
                .clearfix
          
        //-   .related.heading
        //-     h3 Related Posts
        //-     .related-bottom
        //-       .col-md-3.related-left
        //-         a(href='single.html')
        //-           img(src='/images/b1.jpg', alt='')
        //-         h4 Cum sociis sere
        //-       .col-md-3.related-left
        //-         a(href='single.html')
        //-           img(src='/images/b2.jpg', alt='')
        //-         h4 Vestibulum est ex
        //-       .col-md-3.related-left
        //-         a(href='single.html')
        //-           img(src='/images/b3.jpg', alt='')
        //-         h4 Ut tincidunt
        //-       .col-md-3.related-left
        //-         a(href='single.html')
        //-           img(src='/images/b4.jpg', alt='')
        //-         h4  Aliquam eu quam
        //-   .clearfix
        .col-md-3.blog-right
          .categories.white-bg 
            h2 分类
            ul
              each item in categories
                li
                  a(href='#') #{item.name}
          .space
          .categories.white-bg 
            h2 最新新闻
            ul
              each item in blogs
                li
                  a(href='#') #{item.title}
          .categories.white-bg 
            h2 我们推荐
            .ad
              img.img-responsive(src="/images/t3.jpg")
          //-     li
          //-       a(href='#') Phasellus condimentum odio
          //-     li
          //-       a(href='#') Donec interdum eros elit
          //-     li
          //-       a(href='#') Cras condimentum risus
          //-     li
          //-       a(href='#') Proin sodales diam ac 
          //- .categories
          //-   h3 Archives
          //-   ul
          //-     li
          //-       a(href='#') March 3014
          //-     li
          //-       a(href='#') May 2014
          //-     li
          //-       a(href='#') August 2014
          //-     li
          //-       a(href='#') October 2014
        .clearfix
                      
